@import url("https://use.typekit.net/qet5luu.css");

* {
  padding: 0;
  margin: 0;
  font-family: articulat-cf, sans-serif;
}

:root {
  --text: #F5F5F5;
  --bg: #161616;
}

.light {
  background-color: var(--text);
  color: var(--bg);
}

.dark {
  background-color: var(--bg);
  color: var(--text);
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg);
  animation: fadeIn 0.5s linear;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 200;
}

.wrapper {
  animation: fadeIn 0.5s linear;
}

/* Desktop */

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  z-index: 99;
}

.NavLogo {
  width: 10em;
  transition: all 0.2s ease-in-out;
}

.NavItems {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 500;
}

.NavItem {
  padding: 0.5em;
  text-decoration: none;
  color: var(--text);
  transition: all 0.2s ease-in-out;
}

.NavLogo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.NavItem:hover {
  cursor: pointer;
  color: var(--bg);
  background-color: var(--text);
}

.NavItem.active {
  color: var(--bg);
  background-color: var(--text);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 1rem;
}

.grid-item-1 {
  grid-area: 1 / 1 / 5 / 10;
  height: 100vh;
}

.grid-item-2 {
  grid-area: 5 / 1 / 8 / 4;
}

.grid-item-3 {
  grid-area: 5 / 4 / 8 / 7; 
  background-color: #ccc;
}

.grid-item-4 {
  grid-area: 5 / 7 / 8 / 10;
  background-color: #ccc;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.Typewriter__wrapper {
  font-size: clamp(5rem, 10vw, 5rem);
  font-weight: 700;
  color: var(--text);
  padding-left: 2.5em;
}

.Typewriter__cursor {
  color: var(--text);
  font-size: clamp(5rem, 10vw, 5rem);
  font-weight: 700;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 60%;
  mask-image: 
    linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), 
    linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-size: 110% 80%;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}

.background img {
  width: 100%;
  height: 100%;
}

.Experince-1 {
  display: block;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 99;
  padding: 1em;
  background-color: var(--bg);
}

.Experince-2 {
  display: block;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 99;
  padding: 1em;
  background-color: var(--bg);
}

.Experince-3 {
  display: block;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 99;
  padding: 1em;
  background-color: var(--bg);
}

.Experince-Heading {
  font-size: clamp(2rem, 4vw, 2rem);
  font-weight: 700;
  color: var(--text);
  padding: 1em;
}

.Experince-Paragraph {
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 400;
  color: var(--text);
  text-align: left;
  padding: 2em;
}

.MobileNav {
  display: none;
}

/* Mobile */

@media (max-width: 1000px) {
  body {
    background-color: var(--bg);
    color: var(--text);
  }
}